@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-size: 16px;
  --main-font: 24px;
  --nav-font-family: "Inter";
  --dark: #28282a;
  --white-bg: #ffffff;
  --red-text: #f90808;
  --main-theme: #08c475;
  --link-color: #6358dc;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

aside {
  height: 100vh;
  width: 21rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--white-bg);
  gap: 1rem;
  padding: 1rem;
  user-select: none;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-theme);
  font-weight: bold;
}

.logo a span {
  margin-bottom: 1rem;
}

main {
  margin-left: 20rem;
  user-select: none;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-right: 15rem;
  align-items: center;
  gap: 2rem;
}

h1 {
  padding-left: 1rem;
  font-family: "Poppins";
  font-size: 2.2rem;
  font-weight: 500;
  justify-self: start;
  align-self: end;
  margin-bottom: 1rem;
  padding-left: 20%;
}

.needItem {
  border: 1px solid #d9d9d9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: grid;
  grid-template-columns: 1fr;
  width: 544px;
  gap: 2rem;
  padding: 2rem 3rem 1rem 3rem;
  border-radius: 30px;
  font-size: 24px;
  font-family: "Inter";
  color: #6f7482;
}

.needItem div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.needItem div input {
  padding: 10px;
  margin-top: 0.5rem;
  border: none;
  background-color: #ecf5ff;
  border-radius: 4px;
}

select {
  padding: 8px;
  border: none;
  background-color: #ecf5ff;
  border-radius: 4px;
  color: #6f7482;
  cursor: pointer;
  margin-top: 0.5rem;
}

#needSubmit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#needSubmit button {
  padding: 0.5rem 3rem;
  border: none;
  background-color: var(--main-theme);
  color: var(--white-bg);
  border-radius: 28px;
  cursor: pointer;
}

#needSubmit button:hover {
  background-color: #05b068;
}

.radio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.radio div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  color: black;
}

#wants,
#needs {
  margin: 1px 10px;
}
