
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-size: 16px;
  --main-font: 24px;
  --nav-font-family: "Inter";
  --dark: #28282a;
  --white-bg: #ffffff;
  --red-text: #f90808;
  --main-theme: #08c475;
  --link-color: #6358dc;
  --blue-color: blue;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.higher {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.link img {
  padding-top: 10px;
}

.link span {
  color: var(--main-theme);
  font-family: "Inter";
  font-size: 1.1rem;
  font-weight: 800;
  padding-bottom: 10px;
}

.arrow {
  font-size: 1.5rem;
}

.lower {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  font-family: "Poppins", Arial;
}

.container {
  width: 450px;
  height: 452px;
  border-radius: 30px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem;
  gap: 0.8rem;
  font-family: "Inter";
}

.container input[type="text"] {
  padding: 10px;
  margin-top: 0.3rem;
  border: none;
  background-color: #ecf5ff;
  border-radius: 4px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem 0px;
}

.buttons button {
  padding: 0.5rem 2.4rem;
  border: none;
  background-color: var(--main-theme);
  color: var(--white-bg);
  border-radius: 28px;
  cursor: pointer;
}

#update {
  background-color: var(--blue-color);
}

#delete {
  background-color: var(--red-text);
}

#update:hover {
  background-color: rgb(0, 0, 183);
}

#delete:hover {
  background-color: #cd0404;
}

input[type="text"]:disabled {
  color: black;
}
